<%- include('partials/head'); -%>

<div class="container-fluid">
  <div class="row">
    <%- include('partials/sidebar'); -%>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <%- include('partials/header'); -%>

      <div class="row">
        <div class="col-12">
          <div class="welcome">
            <h1>Hi, <%- user.name %></h1>
            <span>How are you feeling today?</span>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12 col-md-6 mb-5">
          <h2><strong>Products Enable/Disable</strong></h2>
          <canvas id="productsStatus"></canvas>
        </div>
        <div class="col-12 col-md-6 mb-5">
          <h2><strong>User Roles</strong></h2>
          <canvas id="userRoles"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          
          
        </div>
        <div class="col-12 col-md-6"></div>
      </div>


      <%- include('partials/copyright'); -%>

    </main>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  new Chart(document.getElementById("productsStatus"),{"type":"bar","data":{"labels":["Enable", "Disable"],"datasets":[{"label":"# of Status","data":[<%= productStatus.enable %>, <%= productStatus.disable %>],"fill":false,"backgroundColor":["rgba(75, 192, 192, 0.2)","rgba(255, 99, 132, 0.2)"],"borderWidth":1}]},"options":{"scales":{"yAxes":[{"ticks":{"beginAtZero":true}}]}}});
  new Chart(document.getElementById("userRoles"),{"type":"doughnut","data":{"labels":["Admin","Analyst","Assistant"],"datasets":[{"label":"My First Dataset","data":[<%= userRoles.admin %>, <%= userRoles.analyst %>, <%= userRoles.assistant %>],"backgroundColor":["rgba(54, 162, 235, 0.4)","rgba(255, 159, 64, 0.4)","rgba(153, 102, 255, 0.4)"]}]}});
  </script>
<%- include('partials/footer'); -%>
