
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Configurations - Dashboard</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content=https://getbootstrap.com/docs/4.4/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.4/examples/dashboard/dashboard.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard">Ecommerce Dashboard</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/logout">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/categories">
              <span data-feather="file"></span>
              Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/products">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/pages">
              <span data-feather="book"></span>
              Pages
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/dashboard/settings">
              <span data-feather="settings"></span>
              Settings
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Configuration</h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <form method="POST" action="/dashboard/configuration/save">
              <input type="hidden" class="d-none" id="store_id" name="store_id" value="<%= store&&store._id %>">
              <div class="form-group row">
                <label for="store_name" class="col-sm-2 col-form-label">Store Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="store_name" name="store_name" value="<%= store&&store.store_name %>">
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Store Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" name="email" value="<%= store&&store.email %>">
                </div>
              </div>
              <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">Store Phone</label>
                <div class="col-sm-10">
                  <input type="phone" class="form-control" id="phone" name="phone" value="<%= store&&store.phone %>">
                </div>
              </div>
              <div class="form-group row">
                <label for="copyright" class="col-sm-2 col-form-label">Store Copyright</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="copyright" name="copyright" value="<%= store&&store.copyright %>">
                </div>
              </div>
              <div class="form-group row">
                <label for="hours" class="col-sm-2 col-form-label">Store Hours</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="hours" name="hours" value="<%= store&&store.hours %>">
                </div>
              </div>
              <div class="form-group row">
                <label for="welcome" class="col-sm-2 col-form-label">Welcome Message</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="welcome" name="welcome" value="<%= store&&store.welcome %>">
                </div>
              </div>
              <div class="form-group row">
                <label for="welcome" class="col-sm-2 col-form-label">Store Mode</label>
                <div class="col-sm-10">
                  <select class="custom-select" id="store_mode">
                    <option selected disabled value="">Choose...</option>
                    <option value="enbale">Enable</option>
                    <option value="disable">Disable</option>
                  </select>
                </div>
              </div>

  
                <div class="form-row">
                  <div class="col-12 mt-4">
                    <h3>Store Address</h3>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="street_address_1">Street Adress 1</label>
                    <input type="text" class="form-control" id="street_address_1" name="street_address_1" value="<%= store&&store.street_address_1 %>">
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="street_address_2">Street Adress 2</label>
                    <input type="text" class="form-control" id="street_address_2" name="street_address_2" value="<%= store&&store.street_address_2 %>">
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="street_address_3">Street Adress 3</label>
                    <input type="text" class="form-control" id="street_address_3" name="street_address_3" value="<%= store&&store.street_address_3 %>">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" value="<%= store&&store.city %>">
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="state">State</label>
                    <select class="custom-select" id="state" name="state">
                      <option selected disabled value="">Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="zip_code">Zip</label>
                    <input type="text" class="form-control" id="zip_code" name="zip_code" value="<%= store&&store.zip_code %>">
                  </div>
                </div>

                <div class="form-group row mt-4">
                  <label for="store_name" class="col-sm-2 col-form-label">Logo</label>
                  <div class="col-sm-10">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="image" name="image" value="<%= store&&store.logo %>">
                      <label class="custom-file-label" for="logo">Choose file</label>
                    </div>
                  </div>
                </div>

                
             

              <div class="form-group row mt-5">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary"><span data-feather="save"></span> Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.4/examples/dashboard/dashboard.js"></script></body>
</html>
