<%- include('partials/head'); -%>

<div class="container-fluid">
  <div class="row">
    <%- include('partials/sidebar'); -%>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <%- include('partials/header'); -%>

      <% if(user&&user.role == 'admin' || user&&user.role == 'analyst'){ %>
      <div class="row content">
        <div class="col-12 col-md-6">
          <form method="POST" action="/dashboard/settings/save" enctype="multipart/form-data">
            <div class="form-group row">
              <label for="store_name" class="col-sm-12 col-form-label">Store Name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="store_name" name="store_name" value="<%= store&&store.store_name %>">
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-12 col-form-label">Store Email</label>
              <div class="col-sm-12">
                <input type="email" class="form-control" id="email" name="email" value="<%= store&&store.email %>">
              </div>
            </div>
            <div class="form-group row">
              <label for="phone" class="col-sm-12 col-form-label">Store Phone</label>
              <div class="col-sm-12">
                <input type="phone" class="form-control" id="phone" name="phone" value="<%= store&&store.phone %>">
              </div>
            </div>
            <div class="form-group row">
              <label for="copyright" class="col-sm-12 col-form-label">Store Copyright</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="copyright" name="copyright" value="<%= store&&store.copyright %>">
              </div>
            </div>
            <div class="form-group row">
              <label for="hours" class="col-sm-12 col-form-label">Store Hours</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="hours" name="hours" value="<%= store&&store.hours %>">
              </div>
            </div>
            <div class="form-group row">
              <label for="welcome" class="col-sm-12 col-form-label">Welcome Message</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="welcome" name="welcome" value="<%= store&&store.welcome %>">
              </div>
            </div>
            <div class="form-group row">
              <label for="welcome" class="col-sm-12 col-form-label">Store Mode</label>
              <div class="col-sm-12">
                <select class="custom-select" id="store_mode">
                  <option selected disabled value="">Choose...</option>
                  <option value="enbale">Enable</option>
                  <option value="disable">Disable</option>
                </select>
              </div>
            </div>


              <div class="form-row">
                <div class="col-12 mt-4">
                  <h3>Store Address</h3>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="street_address_1">Street Adress 1</label>
                  <input type="text" class="form-control" id="street_address_1" name="street_address_1" value="<%= store&&store.street_address_1 %>">
                </div>
                <div class="col-md-4 mb-3">
                  <label for="street_address_2">Street Adress 2</label>
                  <input type="text" class="form-control" id="street_address_2" name="street_address_2" value="<%= store&&store.street_address_2 %>">
                </div>
                <div class="col-md-4 mb-3">
                  <label for="street_address_3">Street Adress 3</label>
                  <input type="text" class="form-control" id="street_address_3" name="street_address_3" value="<%= store&&store.street_address_3 %>">
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" name="city" value="<%= store&&store.city %>">
                </div>
                <div class="col-md-3 mb-3">
                  <label for="state">State</label>
                  <select class="custom-select" id="state" name="state">
                    <option selected disabled value="">Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="zip_code">Zip</label>
                  <input type="text" class="form-control" id="zip_code" name="zip_code" value="<%= store&&store.zip_code %>">
                </div>
              </div>

              <div class="form-group row mt-4">
                <label for="store_name" class="col-sm-12 col-form-label">Logo</label>
                <div class="col-sm-6">
                  <input type="file"
     id="logo" name="logo"
     accept="image/png, image/jpeg">


                </div>
     
                <% if(store&&store.logo[0]){ %>
                  <div class="col-sm-4">
                    <img src="<%= store.logo[0]&&store.logo[0].path %>" alt="" width="200">
                  </div>
               <% } %>

                
              </div>
              
              
              
           

            <div class="form-group row mt-5">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary"><span data-feather="save"></span> Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      </div>
      <% } else { %>
        <p>You are not allowed to view or edit this page!</p>
      <% } %>

      <%- include('partials/copyright'); -%>

    </main>
  </div>
</div>
<%- include('partials/footer'); -%>
