<%- include('../partials/head'); -%>

<div class="container-fluid">
  <div class="row">
    <%- include('../partials/sidebar'); -%>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <%- include('../partials/header'); -%>

      <div class="row">
        <div class="col-6">
          <div class="welcome">
            <h1>Products</h1>
          </div>
        </div>
        <div class="col-6 align-self-center text-lg-right">
          <% if(user&&user.role == 'admin' || user&&user.role == 'analyst'){ %>
            <a class="btn btn-link" href="/dashboard/products/download" role="button">Export</a>
            <a class="btn btn-link" href="/dashboard/products/import" role="button">Import</a>
            <a class="btn btn-success" href="/dashboard/products/new" role="button">New Product</a>
          <% } %>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th width="60">SKU</th>
              <th width="140px">Thumb</th>
              <th>Name</th>
              <th>Price</th>
              <th>Status</th>
              <% if(user&&user.role == 'admin' || user&&user.role == 'analyst'){ %>
              <th width="100">Action</th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% products.forEach(function(product) { %>
              <tr>
                <td><%= product.sku %></td>
                <!-- <td><img src="/public/media/<%- product.images[0]&&product.images[0].name %>" alt="Title" width="120"></td> -->
                <td><img src="<%- product.images[0]&&product.images[0].path %>" alt="Title" width="120"></td>
                <td><%= product.name %></td>
                <td><%- product.price ? '$' : '' %><%= product.price %></td>
                <td class="text-capitalize <%- product.status =='enable' ? 'text-success' : 'text-danger' %>"><%= product.status %></td>
                <% if(user&&user.role == 'admin' || user&&user.role == 'analyst'){ %>
                <td>
                  <a href="/dashboard/products/edit/<%= product._id %>">Edit</a> 
                  <% if(user&&user.role == 'admin'){ %>
                  | <a href="/dashboard/products/delete/<%= product._id %>" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                  <% } %>
                </td>
                  <% } %>
                </tr>
            <% }); %>

          </tbody>
        </table>

        <style>img{    max-width: 100px;}</style>
      </div>
    </div>
  </div>

      <%- include('../partials/copyright'); -%>

    </main>
  </div>
</div>
<%- include('../partials/footer'); -%>
