<%- include('../partials/head'); -%>

<div class="container-fluid">
  <div class="row">
    <%- include('../partials/sidebar'); -%>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <%- include('../partials/header'); -%>

      <div class="row">
        <div class="col-6">
          <div class="welcome">
            <h1>Pages</h1>
          </div>
        </div>
        <div class="col-6 align-self-center text-lg-right">
          <a class="btn btn-success" href="/dashboard/pages/create" role="button">New Page</a>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Title</th>
              <th>Path</th>
              <th>Status</th>
              <th width="100">Action</th>
            </tr>
          </thead>
          <tbody>

            <% pages.forEach(function(page) { %>
              <tr>
                <td><%= page.title %></td>
                <td><%= page.path %></td>
                <td class="text-capitalize <%- page.status =='1' ? 'text-success' : 'text-danger' %>"><%- page.status =='1' ? 'Enable' : 'Disable' %></td>
                <td><a href="/dashboard/pages/edit/<%= page._id %>">Edit</a> | <a href="/dashboard/pages/delete/<%= page._id %>" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></td>
              </tr>
            <% }); %>

          </tbody>
        </table>

      </div>
    </div>
  </div>

      <%- include('../partials/copyright'); -%>

    </main>
  </div>
</div>
<%- include('../partials/footer'); -%>
